<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d8dbba">  <td>19/06/26 17:43:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.setUP()[pri:0, instance:test.Runners.TestRunner@78ac1102]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="d8dbba">  <td>19/06/26 17:43:35</td>   <td>950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestRunner.setTestPrerequisite()[pri:0, instance:test.Runners.TestRunner@78ac1102]">&gt;&gt;setTestPrerequisite</td> 
<td>&nbsp;</td>  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="d8dbba">  <td>19/06/26 17:43:41</td>   <td>7025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestRunner.login(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:test.Runners.TestRunner@78ac1102]">login</td> 
  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="d8dbba">  <td>19/06/26 17:44:23</td>   <td>49298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.testClosure(org.testng.ITestResult)[pri:0, instance:test.Runners.TestRunner@78ac1102]">&lt;&lt;testClosure</td> 
<td>&nbsp;</td>  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="d8dbba">  <td>19/06/26 17:44:23</td>   <td>49345</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.tearDown()[pri:0, instance:test.Runners.TestRunner@78ac1102]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2074185499</td>   <td></td> </tr>
</table>
