<h2>Reporter output</h2><table><tr><td><div "result">I am on Home Page (PASSED : 3s)</div></td></tr>
<tr><td><div "result">I select &quot;Dutch&quot; as country (PASSED : 12s)</div></td></tr>
<tr><td><div "result">I click on Contact button on HomePage and navigate to contact form (PASSED : 15s)</div></td></tr>
<tr><td><div "result">I enter all the required details such as &quot;Akash&quot; &quot;Mekal&quot; &quot;7715977119&quot; and &quot;akashmekal@gmail.com&quot; (PASSED : 8s)</div></td></tr>
<tr><td><div "result">I click on the question&#x2F;comment section and i enter my &quot;Hi, I have a issue, Please call me&quot; (PASSED : 1s)</div></td></tr>
<tr><td><div "result">I Take a Screenshot (PASSED : 0s)</div></td></tr>
</table>